html, body {
    height: 100%;
    margin: 0;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100%;
    
}

.header {
    columns:2/3;
}

.sidebar {
    columns: 1/2;
    grid-row: 1/3;

    background-color: rgb(0, 183, 255);
    color: white;
}

